*
!.gitignore
!.gitlab-ci.yml
!**.md
!**.c
!**.h
!public-tests/
!public-tests/*.in
!public-tests/*.out
!public-tests/Makefile
!p1-private-tests/
!p1-private-tests/*.in
!p1-private-tests/*.out
!p1-private-tests/Makefile
